body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #333;
}


select, button {
  padding: 10px;
  font-size: 16px;
  margin: 5px;
}

button {
  background-color: #0077cc;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #005fa3;
}

.holiday {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  text-align: left;
}

#holiday-list {
  max-width: 800px;
  margin: 0 auto;
}

